<%- include('partials/head.ejs', { title: 'Sign in' }) %>
<body>
    <nav>
        <div class="site-wrapper">
            <div class="account-info">
                <div class="account-info-text">
                    <p class="display-name">Albert Lourensen</p>
                    <a>Sign out</a>
                </div>
            </div>
            <div class="action-buttons">
                <button class="alt">New board</button>
            </div>
        </div>
    </nav>
    <div class="site-wrapper">
    </div>
</body>
<%- include('partials/footer.ejs') %>